* text=auto working-tree-encoding=UTF-8

*.ts text eol=lf working-tree-encoding=UTF-8
*.js text eol=lf working-tree-encoding=UTF-8
*.json text eol=lf working-tree-encoding=UTF-8
*.meta text eol=lf working-tree-encoding=UTF-8
*.md text eol=lf working-tree-encoding=UTF-8

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.ico binary
